.landing-footer {
    background-color: #F5F6F8;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1023px) {
        font-size: 14px;
    }
}

.landing-footer-heading {
    padding: 20px;
}

.landing-footer-content {
    display: flex;
    justify-content: center;
    height: 100%;

    svg {
        width: 30px;
    }
}

.landing-footer-content-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 66%;
    color: #4C4C4C;
    font-weight: bold;
    max-width: 200px;
    margin: 0 20px;
}

.landing-footer-content-block-text {
    font-weight: normal;
}

.landing-footer-line-break {
    padding: 0 20px;
}

.landing-footer-terms {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3F3F3F;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 72%;
}