.landing-footer {
    background-color: #F5F6F8;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1023px) {
        font-size: 12px;
    }
}

.landing-footer-heading {
    padding-top: 20px;
}

.landing-footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: fit-content;
    height: 100%;
    padding: 20px;
    font-size: 66%;
    margin: auto;

    svg {
        width: 30px;
    }
}

.landing-footer-content-block-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: auto;
    color: #4C4C4C;
}

.landing-footer-content-block-text {
    padding-top: 10px;
    max-width: 250px;
    margin: 0 20px;
    color: #4C4C4C;

    @media (max-width: 767px) {
        margin: 0 10px;
    }
}

.landing-footer-line-break {
    padding: 0 20px;
}

.landing-footer-terms {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3F3F3F;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 72%;
}